input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 20px;
}

.submit {
  background-color: lightblue;
  color: #06bf8b;
}


body {
  background-color: #06a0bf;
}







.menu, .footerbar {
  background-color: #808080
}
.menu, .footerbar {
  margin: 0;
}

.menu, .footerbar {
  padding: 0px;
}

.menu, .footerbar {
  overflow: hidden;
}

.menu a, .footerbar a{
  display: inline-block;
  padding: 30px 35px;
  color: white;
  text-decoration: none;
  float: center;
}

.menu a:hover, .footerbar a:hover {
  background-color: #008080;
}
